<div class="hungary-map-shell">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/8/86/Hungary_map_blank.svg"
    alt="Magyarország térképe"
    class="hungary-map-image"
    loading="lazy"
    referrerpolicy="no-referrer"
  />

  <svg viewBox="0 0 760 500" class="hungary-route-overlay" aria-hidden="true">
    <path d="M334 344 C270 324, 208 300, 146 258" class="hungary-route strong-route"></path>
    <path d="M334 344 C298 306, 284 248, 292 183" class="hungary-route strong-route"></path>
    <path d="M334 344 C360 298, 414 247, 476 206" class="hungary-route strong-route"></path>
    <path d="M334 344 C390 328, 452 300, 520 266" class="hungary-route strong-route"></path>
    <path d="M334 344 C246 360, 194 382, 150 410" class="hungary-route strong-route"></path>
  </svg>

  <span class="map-node map-node-west pulse-node" style="left: 20%; top: 47%;"></span>
  <span class="map-node map-node-central pulse-node" style="left: 40%; top: 44%;"></span>
  <span class="map-node map-node-north pulse-node" style="left: 40%; top: 35%;"></span>
  <span class="map-node map-node-east pulse-node" style="left: 66%; top: 49%;"></span>
  <span class="map-node map-node-south is-active pulse-node map-node-origin" style="left: 33%; top: 67%;"></span>
</div>
