<div class="hungary-map-shell">
  <img
    src="/images/hungary-logistics-map.png"
    alt="Magyarország logisztikai térképe"
    class="hungary-map-image"
    loading="lazy"
  />

  <span class="map-node map-node-west pulse-node" style="left: 15%; top: 55%;"></span>
  <span class="map-node map-node-central pulse-node" style="left: 48%; top: 57%;"></span>
  <span class="map-node map-node-north pulse-node" style="left: 45%; top: 44%;"></span>
  <span class="map-node map-node-east pulse-node" style="left: 69%; top: 45%;"></span>
  <span class="map-node map-node-south is-active pulse-node map-node-origin" style="left: 56%; top: 69%;"></span>
  <span class="map-node map-node-balaton pulse-node" style="left: 27%; top: 57%;"></span>
</div>
