<div class="hungary-map-shell">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/8/86/Hungary_map_blank.svg"
    alt="Magyarország térképe"
    class="hungary-map-image"
    loading="lazy"
    referrerpolicy="no-referrer"
  />

  <svg viewBox="0 0 760 500" class="hungary-route-overlay" aria-hidden="true">
    <path d="M338 340 C280 320, 220 300, 150 250" class="hungary-route strong-route"></path>
    <path d="M338 340 C305 285, 300 225, 325 145" class="hungary-route strong-route"></path>
    <path d="M338 340 C372 292, 430 245, 505 188" class="hungary-route strong-route"></path>
    <path d="M338 340 C392 325, 470 300, 560 250" class="hungary-route strong-route"></path>
  </svg>

  <span class="map-node map-node-west pulse-node" style="left: 19%; top: 47%;"></span>
  <span class="map-node map-node-central pulse-node" style="left: 40%; top: 44%;"></span>
  <span class="map-node map-node-north pulse-node" style="left: 39%; top: 24%;"></span>
  <span class="map-node map-node-east pulse-node" style="left: 67%; top: 49%;"></span>
  <span class="map-node map-node-south is-active pulse-node map-node-origin" style="left: 33%; top: 69%;"></span>
</div>
