<div class="hungary-map-shell">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/8/86/Hungary_map_blank.svg"
    alt="Magyarország térképe"
    class="hungary-map-image"
    loading="lazy"
    referrerpolicy="no-referrer"
  />

  <svg viewBox="0 0 760 500" class="hungary-route-overlay" aria-hidden="true">
    <path d="M165 250 C230 214, 286 196, 349 198 C414 201, 472 212, 536 238" class="hungary-route strong-route"></path>
    <path d="M178 334 C244 289, 307 268, 377 273 C447 279, 504 296, 553 323" class="hungary-route strong-route"></path>
  </svg>

  <span class="map-node map-node-west pulse-node" style="left: 21%; top: 46%;"></span>
  <span class="map-node map-node-central is-active pulse-node" style="left: 41%; top: 40%;"></span>
  <span class="map-node map-node-north pulse-node" style="left: 39%; top: 28%;"></span>
  <span class="map-node map-node-east pulse-node" style="left: 66%; top: 48%;"></span>
  <span class="map-node map-node-south pulse-node" style="left: 33%; top: 66%;"></span>

  <div class="dashboard-attribution">
    Térkép alap:
    <a href="https://commons.wikimedia.org/wiki/File:Hungary_map_blank.svg" target="_blank" rel="noreferrer">
      Wikimedia Commons
    </a>
  </div>
</div>
